<% provide(:title, "募集一覧") %>
<%= search_form_for @q do |f| %>
 <%= f.label :title, "キーワード" %>
 <%= f.search_field :title_cont %>
 <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, :include_blank => '指定なし' %>
 <%= f.collection_select :music_genre_id_eq, MusicGenre.all, :id, :name, :include_blank => '指定なし' %>
 <%= f.submit "検索" %>
<% end %>

<% @recruitments.each do |recruitment| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= recruitment.title %></h5>
　　　 <h6 class="card-subtitle mb-2 text-muted"><%= recruitment.prefecture.name %></h6>
       <h6 class="card-subtitle mb-2 text-muted"><%= recruitment.music_genre.name %></h6>
       <%= link_to "詳細へ", recruitment, class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
