<div class="container main_body">
  <main>
    <h2>募集内容</h2>
    <div class="card border-primary mb-3 w-75">
      <div class="card-body">
        <h4 class="card-title"><%= @recruitment.title %></h4>
        <div class='star-btn' id="like_<%= @recruitment.id %>">
          <%= render "likes/like", recruitment: @recruitment %>
        </div>
      </div>
      <ul class="list-group">
        <% if @recruitment.prefecture.present? %>
          <li class="list-group-item">開催場所:<%= @recruitment.prefecture.name %></li>
        <% end %>
        <% if @recruitment.music_genre.present? %>
          <li class="list-group-item">音楽ジャンル:<%= @recruitment.music_genre.name %></li>
        <% end %>
        <li class="list-group-item">開催日:<%= @recruitment.date %></li>
        <li class="list-group-item">出演料:<%= number_to_currency(@recruitment.price, :unit => "￥") %></li>
      </ul>
      <div class="card-body">
        <p class="card-text"><%= @recruitment.content %></p>
      </div>
      <% if current_user %>
        <div class="card-body">
            <h3>応募フォーム</h3>
            <section class="recruitment_form">
              <%= render '/requests/requests_form' %>
            </section>
        </div>
      <% end %>
      <% if current_user == User %>
        <div class="card-body">
          <h3>応募者一覧</h3>
          <% @requests.each do |request| %>
        　  <li class="list-group-item"><a href="/users/<%= request.user.id %>"><%= request.user.username %></a></li>
            <!---li class="list-group-item">応募者: <%= request.name %></li--->
          <% end %>
        </div>
        <% end %>
    </div>
    </main>
</div>
