<% provide(:title, @recruitment.title) %>
<h2><%= @recruitment.title %></h2>
<div class="card border-primary mb-3 w-75">
  <div class="card-body">
    <div class='star-btn' id="like_<%= @recruitment.id %>">
      <%= render "likes/like", recruitment: @recruitment %>
    </div>
    <% if current_organizer %>
      <% if current_organizer.id == @recruitment.organizer.id %>
        <%= link_to "削除", recruitment_path, method: :delete, class: "btn btn-danger" %>
      <% end %>
    <% end %>
  </div>
  <p class="card-text"><%= @recruitment.content %></p>
  <ul class="list-group">
    <% if @recruitment.prefecture.present? %>
      <li class="list-group-item">開催場所: <%= @recruitment.prefecture.name %></li>
    <% end %>
    <% if @recruitment.music_genre.present? %>
      <li class="list-group-item">音楽ジャンル: <%= @recruitment.music_genre.name %></li>
    <% end %>
    <li class="list-group-item">開催日: <%= @recruitment.date.strftime('%Y/%m/%d')%></li>
    <li class="list-group-item">出演料: <%= number_to_currency(@recruitment.price) %></li>
  </ul>
  <% if current_user %>
    <div class="card-body">
        <h3>応募フォーム</h3>
        <section class="recruitment_form">
          <%= link_to "応募する", new_recruitment_request_path(recruitment_id: @recruitment.id), class: "btn btn-primary" %>
        </section>
    </div>
  <% end %>
</div>
