<% provide(:title, "イベント主催者ログイン") %>
<div class="container">
<div class="row pt-3 pb-5">
  <!--左側-->
  <div class="col-md-4 order-md-1">
    <div class="card bg-white border-none mb-3">
      <div class="card-header font-weight-bold">
        テストユーザーとしてログイン
      </div>
      <div class="card-body p-4">
        <%= link_to 'ゲストログイン（ユーザー）', users_guest_sign_in_path, method: :post, class: "btn-block btn btn-secondary btn-sm text-white px-5" %>
      </div>
    </div>
    <!--div class="card bg-white border-none mb-3">
      <div class="card-header font-weight-bold">
        SNSアカウントでログイン
      </div>
      <div class="card-body p-4">
        <div class="text-center">
          <p>Facebookでログイン</p>
        </div>
        <small>
          <p class="pt-3">ログインに必要なアカウント情報は次の目的以外では使用されません。また、法令に定められた場合を除き第三者への提供はいたしません。</p>
          <ul>
            <li>ユーザーIDとしてアカウントの管理</li>
            <li>パスワード再発行時の本人確認</li>
          </ul>
        </small>
      </div>
    </div-->
  </div>
  <!--右側-->
  <div class="col-md-8 order-md-2">
      <div class="card bg-white border-none">
        <div class="card-header font-weight-bold">
          ユーザーネームとパスワードでログイン
        </div>
       <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="form-group px-5">
           <%= f.label :username, "ユーザネーム", class: "form-label" %>
           <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
         </div>

         <div class="form-group px-5">
           <%= f.label :password, "パスワード" %><br/>
           <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
         </div>

         <% if devise_mapping.rememberable? %>
         　<div class="text-center">
             <div class="form-check">
               <%= f.check_box :remember_me, class: "form-check-input" %>
               <%= f.label :remember_me, "ログインを記憶", class: "form-check-label"%>
             </div>
           </div>
         <% end %>
         <br>
         <div class="text-center">
           <div class="actions">
             <%= f.submit "ログイン", class: "btn btn-primary btn-sm px-5"  %>
           </div>
         </div>
         <div class="text-center py-3">
           <%= render "users/shared/links" %>
         </div>
      <% end %>
    </div>
  </div>
</div>
</div>
