<% provide(:title, @organizer.username) %>
<div class="py-4">
  <section id="user">
    <div class="container">
      <div class="row">
        <div class="thumbnail">
          <% if @organizer.image.present?%>
            <%= image_tag @organizer.image.url(:thumb), calss: "img-thumbnail"%>
          <% else %>
            <%= image_tag("/noimage.jpg", :alt => "画像準備中", class: "img-circle") %>
        　 <% end %>
        </div>
        <div class="col-md-8">
          <h4><%= @organizer.username %></h4>
          <p><%= @organizer.description %></p>
          <a href="<%= @organizer.website %>"><%= @organizer.website %></a>
          <% if @organizer.prefecture_id.present? %>
            <p>居住地:<%= @organizer.prefecture.name %></p>
          <% end %>
        </div>
        </div>
        <div class="row">
          <div class="col-md-10 py-4">
            <% if current_organizer.id == @organizer.id %>
              <a href="<%= edit_organizer_registration_path %>" class="btn btn-primary">プロフィール編集</a>
              <a href="<%= new_recruitment_path %>" class="btn btn-primary">出演募集する</a>
              <a href="<%= organizer_recruitments_path(recruitment:{organizer_id: @organizer.id }) %>" class="btn btn-primary">マイ募集</a>
            <% end %>
          </div>
        </div>
        <div class="row">
        </div>
    </div>
  </section>
</div>
