<div class="py-4">
  <section id="user">
    <div class="container">
      <div class="row">
        <div class="thumbnail">
          <% if @user.image.present?%>
            <%= image_tag @user.image.url(:thumb), calss: "img-thumbnail"%>
          <% else %>
            <%= image_tag("/images.jpg", :alt => "画像準備中", class: "img-fluid") %>
        　 <% end %>
        </div>
        <div class="col-md-8">
          <h4><%= @user.username %></h4>
          <p><%= @user.description %></p>
          <% if @user.prefecture_id.present? %>
            <p>活動場所:<%= @user.prefecture.name %></p>
          <% end %>
        </div>
        </div>
        <div class="row">
          <div class="col-md-10 py-4">
            <% if current_user.id == @user.id %>
              <a href="<%= edit_user_registration_path %>" class="btn btn-info">プロフィール編集</a>
              <%= link_to "応募一覧", user_requests_path(request:{user_id: @user.id }), method: :post %>
               </div>
            <% end %>
            <% if current_user != @user %>
              <%= link_to 'chatを始める', chat_path(@user.id)%>
            <% end %>
          </div>
        </div>
        <div class="row">
        </div>
    </div>
  </section>
</div>
